*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 2fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}
header{
    background-color: #9fa4c4;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
    border: gray 2px solid;
    grid-area: header;
    align-content: space-around;
    align-items: center;
    display: flex;
}
main{
    grid-area: main;
    display: flex;
}
.logo{
    border-radius: 30px;
    width: 10vw;
    margin: 10px;
    margin-left: 20px;
    animation-duration: 1s;
}
.logo:hover{
    transform: scale(1.2, 1.2);
}
.menu{
    list-style: none;
    font-size: 20px; font-family: Arial, Helvetica, sans-serif;
    line-height: 5px;
    font-weight: bold;
    margin-left: 20vw;
    animation-duration: 1s;
}
.menu li{
    display: inline-flex;
    text-align: right;
    margin: 10px;
    margin-top: 50px;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu li a:hover{
    color: white;
    font-size: 25px;
}    
.p1{
    font-family: 'Playfair Display SC', serif;
    height: auto;
    padding: 5px;
    margin: 20px;
    font-size: 20px;
    text-align: justify;
}
.somos{
    font-family: 'Oswald', sans-serif;
    margin: 10px;
    font-size: 30px;
}
aside{
    margin: 20px;
    align-items: center;
}
.portada{
    margin: 10px;
    margin-left: 20px;
    border: 2px grey double;
    display: inline;
    width: 30vw;
}
.alquileres{
    font-family: 'Oswald', sans-serif;
    margin: 20px;
    font-size: 30px;
    display: flex;
    position: absolute;
}
.dep1{
    margin: 20px;
    text-align: center;
    margin-top: 100px;
}
.descrip1{
    width: 400px;
    text-align: center;
    border: #9e768f 2px solid;
    padding: 2px;
    border-radius: 10px;
    margin: auto;
}
.de1{
    width: 400px;
    opacity: 50%;
    border: gray 2px solid;
    border-radius: 20px;
}
.de1:hover{
    width: 400px;
    opacity: 100%;
    border: white 2px solid;
    border-radius: 20px;
}
.d12{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}
.d13{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}
.d14{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}
.d15{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 1px;
}
.dp1{
    border: #bb5767 solid 2px;
    border-radius: 20px;
}
.dep2{
    margin: 20px;
    text-align: center;
    margin-top: 100px;
    z-index: 0;
}
.de2{
    width: 400px;
    opacity: 50%;
    border: gray 2px solid;
    border-radius: 20px;
}
.de2:hover{
    width: 400px;
    opacity: 100%;
    border: white 2px solid;
    border-radius: 20px;
}
.dep3{
    margin: 20px;
    text-align: center;
    margin-top: 100px;
}
.de3{
    width: 400px;
    opacity: 50%;
    border: gray 2px solid;
    border-radius: 20px;
}
.de3:hover{
    width: 400px;
    opacity: 100%;
    border: white 2px solid;
    border-radius: 20px;
}
.contacto{
    font-family: 'Oswald', sans-serif;
    margin: 20px;
    font-size: 30px;
}
.map{
    margin: 20px;
    border: grey 2px solid;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
}
h3{
    margin: 20px;
}
.contactenos1{
    flex-wrap: wrap;
}
.contacto768{
    display: none;
}
.contactenos1768{
    display: none;
}
.contactenos2{
    display: inline-block;
    position: absolute;
    margin-top: 80px;
}
.contactenos3{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 120px;
}
.edif2{
    width: 350px;
    height: 540px;
    display: inline-block;
    border-radius: 10px;
    border: gray 2px solid;
    margin: 5px;
}
footer{
    background-color: #9fa4c4;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
    text-align: right;
    border: gray 2px solid;
    align-items: center;
    grid-area: footer;
}
.red1{
    display: inline-block;
    font-size: 25px;
    margin-left: 70vw;
    position: relative;
    bottom: 12px;
}
.redes{
    display: inline-block;
}
.insta{
    width: 30px;
    border-radius: 10px;
    margin: 5px;
}
.insta:hover{
    transform: scale(1.2, 1.2);
}
.face{
    width: 30px;
    border-radius: 10px;
    margin: 5px;
}
.face:hover{
    transform: scale(1.2, 1.2);
}
.whats{
    width: 35px;
    border-radius: 10px;
    margin: 5px;
}
.whats:hover{
    transform: scale(1.2, 1.2);
}
@media only screen and (max-width: 768px){
body{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}
header{
    display: flex;
    align-items: center;
}
.logo{
    width: 30vw;
    margin: 10px;
}
.menu{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    margin-bottom: 10px;
}
.menu li{
    margin: 20px;
    font-size: medium;
}
.menu li a:hover{
    font-stretch: extra-condensed;
    font-size: medium;
}
main{
    margin: 20px;
    flex-direction: column;
    align-items: center;
}
.portada{
    display: none;
}
.dp1{
    width: 480px;
    height: 360px;
    margin: auto;
}
.descrip1:hover{
    color: burlywood;
    background-color: #9e768f;
    transition: 0.5s;
    width: 600px;
    height: 100px;
    font-size: 20px;
    border:  solid 2px rgb(77, 32, 39);
}
.contacto{
   display: none;
}
.map{
    margin: 20px;
    border: grey 2px solid;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    display: inline-flex;
}
h3{
    margin: 20px;
}
.contactenos1{
    display: none;
}
.contacto768{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.contactenos1768{
    display: inline-block;
}
.map768 {
    width: 200px;
    height: 200px;
    border: solid 2px gray;
}
.contactenos2{
    font-size: 15px;
    margin-right: 20px;
    position: relative;
    margin-top: 10px;
}
.contactenos3{
    display: none;
}
.edif2{
    display: none;
}
footer{
    display: flex;
    align-items: center;
}
.red1{
    font-size: 25px;
    text-align: justify;
    align-content: center;
    margin-left: 50vw;
    position: relative;
    margin-top: 25px;
    margin-right: 20px;
}
.redes{
    display: flex;
    margin-right: 10px;
}
}
